/com.vblast.flipaclip.apk
/config.ar.apk
/config.arm64_v8a.apk
/config.armeabi_v7a.apk
/config.de.apk
/config.en.apk
/config.es.apk
/config.fi.apk
/config.fr.apk
/config.hdpi.apk
/config.hi.apk
/config.in.apk
/config.it.apk
/config.ja.apk
/config.ldpi.apk
/config.mdpi.apk
/config.ms.apk
/config.nl.apk
/config.pl.apk
/config.pt.apk
/config.ru.apk
/config.th.apk
/config.tvdpi.apk
/config.vi.apk
/config.x86.apk
/config.x86_64.apk
/config.xhdpi.apk
/config.xxhdpi.apk
/config.xxxhdpi.apk
/config.zh.apk